// Colors
$font-color__primary:#08131c;

//$font-color__primary: #202020;
$color-blue__primary: #b6eeff;
$color-blue__primary-hover-action-focus: #d0f4ff;
$black-color__primary: #202020;
// #313440
$white-color: #fff;
$gray-color__primary: #fafafa;
$gray-color1: #777;

$green-color__dark: #013a33;
$green-color__light: #75ad93;

$blue-color__light: #b6eeff;

// Shadow
$shadow__primary: 0 2px 6px RGB(231, 234, 230);

// Border
$border__color: #e7eaed;
$border-color2: #dedede;