// Colors
$font-color__primary: #333;

$white-color: #fff;
$gray-color__primary: #fafafa;
$gray-color1: #777;

$green-color__dark: #013a33;

// Shadow
$shadow__primary: 0 2px 6px RGB(231, 234, 230);

// Border
$border__color: #e7eaed;
