.minicart-wrapper {
  &:hover {
    cursor: pointer;
  }

  .cart-icon {
    position: relative;
    margin-right: 8px;
    pointer-events: none;

    .cart-ammount {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -2px;
      right: -8px;
      font-weight: $font-weight__semibold;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #000;

      span {
        color: #fff;
        font-size: 8px;
      }
    }
  }

  .cart-icon {
    background-image: url(images/icons/icon_minicart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;

    width: 30px;
    height: 30px;
  }

  .cart-container {
    border-top: 1px solid $border__color;
    display: none;
    min-width: 460px;
    max-width: 460px;
    position: fixed;
    top: 59px;
    right: 0;
    bottom: 0;
    transition: transform .5s;
    transform: translateX(150%);
    display: block;
    z-index: 100;
    background: $white-color;
  }

  &.active {
    .cart-container {
      display: grid;
      transform: translateX(0);
      overflow: scroll;
    }
  }
}

@include media-queries(phone-only) {
.minicart-wrapper {
  .cart-container {
      top: 58px;
      min-width: unset;
    }
  }
}
