.add-to-cart-modal {
    display: grid;
    grid-template-columns: 100px 2fr;
    grid-gap: $indent__s;
    background-color: #212331;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: fixed;
    padding: $indent__s;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    z-index: 100;
    left: 24px;
    bottom: 24px;
    max-width: 340px;
    width: 90%;

    display: grid;
    grid-template-columns: 100px 2fr;
    grid-gap: 8px;
    background-color: #f5f6fa;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 14px;
    position: fixed;
    padding: 8px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border: 1px solid #dcf6fe;
    overflow: hidden;
    z-index: 100;
    left: 24px;
    box-shadow: 1px 2px 13px 4px #05081017;
    bottom: 24px;
    max-width: 340px;
    width: 90%;

    .product__image-container {
        position: relative;
        overflow: hidden;
        height: 100px;
        width: 100px;

        img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    @include media-queries(phone-only) { 
        left: 0;
        right: 0;
    }
  }