.navbar {
  background-color: $white-color;
  border-bottom: 1px solid $border__color;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0, .07);
  display: flex;
  align-items: center;
  padding: $indent__s $indent__l;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;

  .title {
    margin-right: auto;
    font-weight: $font-weight__semibold;
    font-size: $font-size__l;
    text-transform: lowercase;
  }

  .shop-logo {
    margin-right: $indent__xs;

    img {
      width: 28px;
      height: auto;
    }
  }
}


@include media-queries(phone-only) {
  .navbar {
    padding: $indent__s $indent__m;
  }
}
