.navbar {
  background-color: $white-color;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0, .07);
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border__color;
  padding-left: $indent__l;
  padding-right: $indent__l;
  position: sticky;
  top: 0;
  z-index: 1000;

  .title {
    margin-right: auto;
    font-weight: $font-weight__semibold;
    font-size: $font-size__l;
    text-transform: lowercase;
  }

  .shop-logo {
    img {
      width: 30px;
      height: auto;
    }
  }

  .cart-icon {
    position: relative;
    margin-right: 8px;
    pointer-events: none;

    .fa-shopping-cart {
      font-size: 20px;
    }

    .cart-ammount {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -8px;
      right: -8px;
      font-weight: $font-weight__semibold;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #000;

      span {
        color: #fff;
        font-size: 8px;
      }
    }
  }
}
