.navbar {
  background-color: $white-color;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border__color;
  padding-left: $indent__xl;
  padding-right: $indent__xl;

  .shop-logo {
    margin-right: $indent__m;
  }

  .title {
    margin-right: auto;
  }

  .shop-logo {
    img {
      width: 30px;
      height: auto;
    }
  }

  .cart-icon {
    position: relative;

    .fa-shopping-cart {
      font-size: 20px;
    }

    .cart-ammount {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -8px;
      right: -8px;
      font-weight: $font-weight__bold;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #ef05e2;

      span {
        color: #fff;
        font-size: 8px;
      }
    }
  }
}
