.products-list-container {
  display: grid;
  justify-content: center;

  &.cart {
    grid-template-columns: 1fr;

    .product {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__image-container,
      &-information,
      &-information__price,
      &-actions {

      }

      &-information__price,
      &-actions {
        width: 16%;
      }

      &-information {
        padding-left: $indent__l;
        padding-top: $indent__l;
        padding-bottom: $indent__l;
        width: 64%;
      }

      &__image-container {
        height: 120px;
        width: 120px;
      }

      &-information {
      }
    }
  }
}

.cart-container {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
}

.total-price-container {
  margin-top: $indent__xl;

  span {
    font-weight: $font-weight__bold;
  }
}

@include media-queries(phone-only) {
   .main-box {
     max-width: 1440px;
     margin-right: auto;
     margin-left: auto;
     padding-right: 16px;
     padding-left: 16px;
     margin-bottom: 48px;
     width: 100%;
}

  .products-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@include media-queries(tablet-portrait-up) {
  .main-box {
    padding-right: 32px;
    padding-left: 32px;
  }

  .products-list-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
}

@include media-queries(tablet-landscape-up) {
  .products-list-container {
    grid-template-columns: repeat(4, 240px);
  }
}

@include media-queries(tablet-landscape-up) {
  .products-list-container {

  }
}

@include media-queries(desktop-up) {
  .products-list-container {

  }
}
