@import "variables/fonts";
@import "variables/reset-css";
@import "variables/indents";
@import "variables/colors";
@import "variables/breakpoints";
@import "variables/mixins";

@import "navbar";
@import "product-list";

* {
    font-family: $main-font;
    color: $font-color__primary;
}

body {
    background-color: $white-color;
    max-width: $max-container__width;
}