@import "variables/fonts";
@import "variables/typography";
@import "variables/reset-css";
@import "variables/indents";
@import "variables/colors";
@import "variables/breakpoints";
@import "variables/mixins";

@import "navbar";
@import "products-list";
@import "product-item";
@import "minicart";

* {
  box-sizing: border-box;
  font-family: $main-font;
  line-height: 1.4em;
}

input {
  background-clip: padding-box;
  border: 1px solid $gray-color__primary;
  font-size: 14px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  width: 56px;
  height: 24px;

  &:focus {
    outline: none;
  }

  &[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

body {
  background-color: $white-color;

  &.not-scroll {
    overflow-y: hidden;

    &:after {
      opacity: .3;
      pointer-events: auto;
    }

    .navbar {
      .cart-icon {
        pointer-events: none;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.main-box {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 48px;
  width: 100%;
}
